.logo {
  width: 250px;
  height: 31px;
  /*background: rgba(255, 255, 255, 0.2);*/
  margin: 16px 24px 16px 0;
  float: left;
  line-height:28px;
  padding-left: 20px;
  color: white;
  font-size: 28px;
}